.contact-form{ margin-top:15px;}

.contact-form .textarea{ min-height:220px; resize:none;}

.form-control{ box-shadow:none; border-color:#eee; height:49px;}

.form-control:focus{ box-shadow:none; border-color:#00b09c !important;}

.form-control-feedback{ line-height:50px;}

.main-btn{ background:#6f42c1 !important; border-color:#6f42c1 !important; color:#fff;}

.main-btn:hover{ background:#00a491;color:#fff;}

.card-header
{
background-color:transparent !important;	
}

.form-control-feedback {
line-height: 50px;
top: 0px;
}
footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #212529 !important;
}

footer p {
  margin-bottom: .25rem;
}